div.inchoo-socialconnect-register,
div.inchoo-socialconnect-checkout,
div.inchoo-socialconnect-login {
    margin-top: 8px;
}

div.inchoo-socialconnect-login .content {
    min-height: 100px;
}

div.inchoo-socialconnect-register .fieldset {
    margin: 0px;
}

div.inchoo-socialconnect-account .col3-set .col-1 {
    width: 29%
}

div.inchoo-socialconnect-account .col3-set .col-2 {
    width: 49%
}

div.inchoo-socialconnect-account .col3-set .col-3 {
    width: 19%
}

div.inchoo-socialconnect-account .col2-set .col-1 {
    width: 79%
}

div.inchoo-socialconnect-account .col2-set .col-2 {
    width: 19%
}
